    {% extends 'base.html' %}

    {% block head %}  <link rel="stylesheet" href="/static/css/about_us.css"> {% endblock %}

    {% block content %}
    <body style="background-color: rgb(252, 234, 93);" width="100px" >
        <header>
            <div class="wrapper">
                <ul class="nav-area">
                    
                    <li><a href="signup">signup</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="about">About Us</a></li>
                    <li><a href="home">Home</a></li>
                </ul>     
    <section>
    <div class="container">
  
    <ul class="about">   
        <h2>About Me</h2>   
        <li>👋 Hi, I’m vigneshwaran M</li>
        <li>👀 I’m interested in Networking and cybersecurity field aswellas I like to do coding.</li>
        <li>🌱 I’m currently studying B.E, CSE in KLNCIT</li>
        <li>💠 My Email ID : Vignesh510510@gmail.com</li>
        <li>💁‍♂️ I updated My Resume here:<a href="/static/pdf/vigneshResume.pdf">vignesh Resume</a></li>
    </ul>
</div>
</div>
</section>
        </header>
   
</body>

{% endblock %}
