<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Job portal</title>
       
</head>
  <body style="background:rgb(252, 234, 93);" height="40%"width="80%" >
      <header>
          <div class="wrapper">
            
          </div>
          <div class="welcome-txt">
            <center> <h1>Welcome to your profile page !!!</h1>
            <div class="inputBx">
              <input type="submit" value="Logout" name=""> 
            </div>
        </center>
           
            
             
         
      </header>
  </body>
  </html>

 