     {% extends 'base.html' %}
  
     {% block head %}  <link rel="stylesheet" href="/static/css/signup.css"> {% endblock %}

      {% block content %}
   <body style="background-color: rgb(252, 234, 93);" width="100px" >
       <header>
           <div class="wrapper">
            <ul class="nav-area">
                
                <li><a href="signup">signup</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="home">Home</a></li>

           <section>
            <div class="contentBx">
                <div class="card">
            <div class="formBx">
            
           <h2>SignUp</h2>
           <form action="/signup" method="post">
          <!---- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                 {% for category,message in messages %}
                      <div class="alert alert-{{category}}">{{message}}</div>
                 {% endfor %}
                {% endif %}
                {% endwith %} 
                ---->


            <div class="inputBx">
                <span>Username</span>
                <input type="text" name="" placeholder="Enter your Name" required class="form-control">
            </div>
            <div class="inputBx">
                <span>Phone No</span>
                <input type="text" name="" placeholder="Enter your Phone number" required class="form-control">
            </div>
            <div class="inputBx">
                <span>Email address</span>
                <input type="email" name="" placeholder="Enter your email address" required class="form-control">
            </div>

                <div class="inputBx">
                    <span>Password</span>
                    <input type="password" name="" placeholder="Enter password" required class="form-control">
                </div>
                    <div class="remember">
                        <input type="checkbox" id="rem1" name="" value="">
                        <label for="rem1">I agree to the terms and conditions</label><br></div>
                  <div class="inputBx">
                    <input type="submit" value="submit" name="">
                </div>
            </form>
              </div>
            </div>
            </div>
           </section>
       </header> 
   </body>
  
   {% endblock %}
   
